<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/app.css}">
    <link rel="stylesheet" th:href="@{/gallery.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="topnav">
                <img class="logo" th:src="'/images/' + 'Logo2.PNG'" alt="Logo"
                     style="width: 110px;height:auto;padding-top: 5px;"/>
                <a class="navbar-brand" href="/">Mutts Cutts</a>
                <div class="topnav-right">
                    <a class="active" th:href="@{/}">Home</a>
                    <a th:href="@{/staff}">Meet the Staff</a>
                    <a th:href="@{/services}">Services</a>
                    <a th:href="@{/reviews}">Reviews</a>
                    <a th:href="@{/faq}">FAQ</a>
                    <a th:href="@{/contact}">Contact</a>
                    <a th:href="@{/schedule}">Book an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Container for the image gallery -->
<div class="container">

    <!-- Full-width images with number text -->
    <div class="mySlides">
        <div class="numbertext">1 / 6</div>
        <img th:src="'/images/' + 'tigerbear.jpeg'" style="width: 100%; height: 800px;">
    </div>

    <div class="mySlides">
        <div class="numbertext">2 / 6</div>
        <img th:src="'/images/' + 'panda.jpeg'" style="width:100%; height: 800px;">
    </div>

    <div class="mySlides">
        <div class="numbertext">3 / 6</div>
        <img th:src="'/images/' + 'karen.jpeg'" style="width:100%; height: 800px;">
    </div>

    <div class="mySlides">
        <div class="numbertext">4 / 6</div>
        <img th:src="'/images/' + 'corgibutt.jpeg'" style="width:100%; height: 800px;">
    </div>

    <div class="mySlides">
        <div class="numbertext">5 / 6</div>
        <img th:src="'/images/' + 'rainbow.jpeg'" style="width:100%; height: 800px;">
    </div>

    <div class="mySlides">
        <div class="numbertext">6 / 6</div>
        <img th:src="'/images/' + 'galaxy.jpeg'" style="width:100%; height: 1000px;">
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

    <!-- Image text -->
    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <!-- Thumbnail images -->
    <div class="row">
        <div class="column">
            <img class="demo cursor" th:src="'/images/' + 'tigerbear.jpeg'" style="width:100%; height: 125px;" onclick="currentSlide(1)" alt="The Tiger">
        </div>
        <div class="column">
            <img class="demo cursor" th:src="'/images/' + 'panda.jpeg'" style="width:100%; height: 125px;" onclick="currentSlide(2)"
                 alt="The Panda">
        </div>
        <div class="column">
            <img class="demo cursor" th:src="'/images/' + 'karen.jpeg'" style="width:100%; height: 125px;" onclick="currentSlide(3)"
                 alt="The Karen">
        </div>
        <div class="column">
            <img class="demo cursor" th:src="'/images/' + 'corgibutt.jpeg'" style="width:100%; height: 125px;" onclick="currentSlide(4)"
                 alt="Heart Butt">
        </div>
        <div class="column">
            <img class="demo cursor" th:src="'/images/' + 'rainbow.jpeg'" style="width:100%; height: 125px;" onclick="currentSlide(5)"
                 alt="The Rainbow">
        </div>
        <div class="column">
            <img class="demo cursor" th:src="'/images/' + 'galaxy.jpeg'" style="width:100%; height: 125px;" onclick="currentSlide(6)"
                 alt="The Galaxy">
        </div>
    </div>
</div>
<script>
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) {
            slideIndex = 1
        }
        if (n < 1) {
            slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
    }
</script>
</body>
</html>