<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/cart.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <script type="text/javascript" src="cart.js"></script>-->
    <title>Cart</title>
</head>
<body>
<!-- section for nav bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="topnav">
                <img class="logo" th:src="'/images/' + 'Logo2.PNG'" alt="Logo"
                     style="width: 110px;height:auto;padding-top: 5px;"/>
                <a class="navbar-brand" href="/">Mutts Cutts</a>
                <div class="topnav-right">
                    <a th:href="@{/}">Home</a>
                    <a th:href="@{/staff}">Meet the Staff</a>
                    <a th:href="@{/services}">Services</a>
                    <a th:href="@{/gallery}">Gallery</a>
                    <a th:href="@{/reviews}">Reviews</a>
                    <a th:href="@{/faq}">FAQ</a>
                    <a th:href="@{/contact}">Contact</a>
                    <a th:href="@{/schedule}">Book an Appointment</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!--section for Cart-->
<div class="shopping-cart">

    <div class="title">
    </div>
    <!--    Third Product-->
    <div class="item">
        <div class="buttons">
        <span class="delete-btn">
            <ion-icon name="close-outline" size="small"></ion-icon>
        </span>
            <span class='like-btn'>
<!--                <ion-icon name="heart-outline" size="small"></ion-icon>-->
                <!--                <i onclick="myFunction(this)" class="fa fa-heart"></i>-->
                <label class="heart-switch">
                    <input type="checkbox">
                     <svg viewBox="0 0 33 23" fill="white">
                     <path d="M23.5,0.5 C28.4705627,0.5 32.5,4.52943725 32.5,9.5 C32.5,16.9484448 21.46672,22.5 16.5,22.5 C11.53328,22.5 0.5,16.9484448 0.5,9.5 C0.5,4.52952206 4.52943725,0.5 9.5,0.5 C12.3277083,0.5 14.8508336,1.80407476 16.5007741,3.84362242 C18.1491664,1.80407476 20.6722917,0.5 23.5,0.5 Z"></path>
                    </svg>
                </label>
            </span>
        </div>

        <div class="image">
            <img th:src="'/cartImages/blueberry.jpeg'" alt="" style="width: 75px; height:95px"/>
        </div>

        <div class="description">
            <span>Dog Shampoo</span>
            <span>Scented shampoo</span>
            <span>Blueberry</span>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button">
                <!--                <img src="'/cartImages/plus.png'" alt=""/>-->
                <ion-icon value="plus" name="add-circle" size="small"></ion-icon>
            </button>

            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button">
                <!--                <img src="'/carImages/minus.png'" alt=""/>-->
                <ion-icon name="remove-circle" size="small"></ion-icon>
            </button>


        </div>

        <div class="total-price">$20</div>
    </div>
    <!--    Second Product-->
    <div class="item">
        <div class="buttons">
        <span class="delete-btn">
            <ion-icon name="close-outline" size="small"></ion-icon>
        </span>
            <span class='like-btn'>
<!--                <ion-icon name="heart-outline" size="small"></ion-icon>-->
                <!--                <i onclick="myFunction(this)" class="fa fa-heart"></i>-->
                <label class="heart-switch">
                    <input type="checkbox">
                     <svg viewBox="0 0 33 23" fill="white">
                     <path d="M23.5,0.5 C28.4705627,0.5 32.5,4.52943725 32.5,9.5 C32.5,16.9484448 21.46672,22.5 16.5,22.5 C11.53328,22.5 0.5,16.9484448 0.5,9.5 C0.5,4.52952206 4.52943725,0.5 9.5,0.5 C12.3277083,0.5 14.8508336,1.80407476 16.5007741,3.84362242 C18.1491664,1.80407476 20.6722917,0.5 23.5,0.5 Z"></path>
                    </svg>
                </label>
            </span>
        </div>

        <div class="image">
            <img th:src="'/cartImages/toy.jpeg'" alt="" style="width: 75px; height:75px"/>
        </div>

        <div class="description">
            <span>Dog Toys</span>
            <span>Tough toys for heavy chewers</span>
            <span>Kong</span>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button">
                <!--                <img src="'/cartImages/plus.png'" alt=""/>-->
                <ion-icon name="add-circle" size="small"></ion-icon>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button">
                <!--                <img src="'/carImages/minus.png'" alt=""/>-->
                <ion-icon name="remove-circle" size="small"></ion-icon>
            </button>
        </div>

        <div class="total-price">$20</div>
    </div>
    <!--    First Product-->
    <div class="item">
        <div class="buttons">
        <span class="delete-btn">
            <ion-icon name="close-outline" size="small"></ion-icon>
        </span>
            <span class='like-btn'>
<!--                <ion-icon name="heart-outline" size="small"></ion-icon>-->
                <!--                <i onclick="myFunction(this)" class="fa fa-heart"></i>-->
                <label class="heart-switch">
                    <input type="checkbox">
                     <svg viewBox="0 0 33 23" fill="white">
                     <path d="M23.5,0.5 C28.4705627,0.5 32.5,4.52943725 32.5,9.5 C32.5,16.9484448 21.46672,22.5 16.5,22.5 C11.53328,22.5 0.5,16.9484448 0.5,9.5 C0.5,4.52952206 4.52943725,0.5 9.5,0.5 C12.3277083,0.5 14.8508336,1.80407476 16.5007741,3.84362242 C18.1491664,1.80407476 20.6722917,0.5 23.5,0.5 Z"></path>
                    </svg>
                </label>
            </span>
        </div>

        <div class="image">
            <img th:src="'/cartImages/biscut.jpeg'" alt="" style="width: 75px; height:75px"/>
        </div>

        <div class="description">
            <span>Dog Treats</span>
            <span>Natural Yak Cheese Sticks</span>
            <span>Yellow</span>
        </div>

        <div class="quantity">
            <button class="plus-btn" type="button">
                <!--                <img src="'/cartImages/plus.png'" alt=""/>-->
                <ion-icon name="add-circle" size="small"></ion-icon>
            </button>
            <input type="text" name="name" value="1">
            <button class="minus-btn" type="button">
                <!--                <img src="'/carImages/minus.png'" alt=""/>-->
                <ion-icon name="remove-circle" size="small"></ion-icon>
            </button>
        </div>

        <div class="total-price">$20</div>
    </div>
</div>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script th:inline = "javascript">
    $('.minus-btn').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value > 1) {
            value = value - 1;
        }
        else
        {
            value = 0;
        }

        $input.val(value);
    })

    $('.plus-btn').on('click', function (e) {
        e.preventDefault();
        var $this = $(this);
        var $input = $this.closest('div').find('input');
        var value = parseInt($input.val());

        if (value < 100) {
            value = value + 1;
        }
        else
        {
            value = 100;
        }

        $input.val(value);
    });
</script>
</body>
</html>